.header-container {
    display: flex;
    background-color: #F3F3F3;
    padding: 15px;
    text-align: center;
    border: 4px solid #110505;
    border-radius: 8px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.header-link:hover {
    color: #378ddd;
}

.logout-container {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #c43429;
}